.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.bg-splash {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url(https://lh3.googleusercontent.com/aida-public/AB6AXuBO4ceTowasppywz_qcM5prGvwBuzMGd1uQUlwopb3mcWoMcdwNa4lXhNb0qrREJkVpFiSa4KWlWYG8BJ408wSpScMsgBUU2M-MFmtbfRYayxjY_zMabcjnzPjyuAlrVWxFDeo0iLiYeT79pmzl9ExBll5oj3IwIGjxztyvNZIN9nDk_VsOI5phUdeD2O4wJzESB7aEy0kafSFsWvDo4zHjV06_I9-s3gQzLPTdPopAVzIQhyC663qibs-QYfnWA9LlZrLhmHowh_SZ);
    background-size: cover;
    background-position: center;
}

body {
    min-height: max(884px, 100dvh);
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-down {
    animation: fadeInDown 1s ease-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

.animate-pulse-slow {
    animation: pulse 3s ease-in-out infinite;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.animate-fade-out {
    animation: fadeOut 0.5s ease-out forwards;
}